{% extends 'base.html' %}

{% load article_tag %}

{% block title %} Articles {% endblock %}

{% block content %}
    {% get_all_articles as articles %}
    {% for article in articles %}
        <div class="card">
            <div class="card-header">
                    <a href="{% url 'article_detail' article.pk %}">{{article.title}}</a></span> &middot;
                <span class="text-muted">by {{article.author}} | {{article.date}}</span>
            </div>
            <div class="card-body">
                {{article.body}}
                <a href="{% url 'article_edit' article.pk %}">Edit</a> | 
                <a href="{% url 'article_delete' article.pk %}">Delete</a> |
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}